div {
    transform: rotateX(25deg);
    perspective: 400px;
    display: flex;
    max-width: 25%;
    max-height: 25%;
    margin-left: auto;
    margin-right: auto ;
}
p{
    transform: rotateX(25deg);
    perspective: 10px;
    font-family: sans-serif;
    text-align: center;
}